<div class="card  mt-4">
  <div class="card-header bg-primary text-white">
    Liste des comptes
  </div>
  <div class="card-body">
    <table class="table" >
      <thead>
        <tr>
          <th>Numéro</th>
          <th>Propriétaire</th>
          <th>Solde</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td >{{item.numero}}</td>
          <td >{{item.proprietaire}}</td>
          <td>{{item.solde}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
